
@{
    ViewBag.Title = "VerHistorial";
}

@model List<RestauranteWebApp.Models.HistorialPedido>

<h2>Historial de Compras</h2>
<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Platos</th>
            <th>Total</th>
            <th>Estado</th>
            <th>Comentarios Empleado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var historial in Model)
        {
            <tr>
                <td>@historial.Fecha.ToShortDateString()</td>
                <td>
                    <ul>
                        @foreach (var plato in historial.Pedido.Platos)
                        {
                            <li>@plato.Nombre</li>
                        }
                    </ul>
                </td>
                <td>@historial.Pedido.Total.ToString("C")</td>
                <td>@historial.Pedido.Estado</td>
                <td>@historial.ComentariosEmpleado</td>
            </tr>
        }
    </tbody>
</table>
